<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.ssm.dao.DRoleMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.entity.DRole">
    <id column="ROLEID" jdbcType="VARCHAR" property="roleid" />
    <result column="ROLENAME" jdbcType="VARCHAR" property="rolename" />
    <result column="POWER" jdbcType="VARCHAR" property="power" />
  </resultMap>
  <sql id="Base_Column_List">
    ROLEID, ROLENAME, POWER
  </sql>
  <select id="getAllRole" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DROLE 
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DROLE
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DROLE
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm.entity.DRole">
    insert into DROLE (ROLEID, ROLENAME, POWER
      )
    values (#{roleid,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm.entity.DRole">
    insert into DROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        ROLEID,
      </if>
      <if test="rolename != null">
        ROLENAME,
      </if>
      <if test="power != null">
        POWER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        #{power,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm.entity.DRole">
    update DROLE
    <set>
      <if test="rolename != null">
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        POWER = #{power,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm.entity.DRole">
    update DROLE
    set ROLENAME = #{rolename,jdbcType=VARCHAR},
      POWER = #{power,jdbcType=VARCHAR}
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </update>
</mapper>