<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.ssm.dao.HealthyMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.entity.Healthy">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DEMP" jdbcType="VARCHAR" property="demp" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DEMP, TYPE, NAME
  </sql>
  <select id="getHealthName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HEALTHY where demp = #{param1,jdbcType=VARCHAR} and TYPE= #{param2,jdbcType=VARCHAR}
  </select>
  <select id="getHealthType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HEALTHY where demp = #{demp,jdbcType=VARCHAR}
  </select>
   <select id="selectAllHealthyByDemp" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HEALTHY where demp = #{demp,jdbcType=VARCHAR}
  </select>
  <select id="selectAllHealthy" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HEALTHY
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HEALTHY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from HEALTHY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm.entity.Healthy">
    insert into HEALTHY (ID, DEMP, TYPE, 
      NAME)
    values (#{id,jdbcType=VARCHAR}, #{demp,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm.entity.Healthy">
    insert into HEALTHY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="demp != null">
        DEMP,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="name != null">
        NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="demp != null">
        #{demp,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm.entity.Healthy">
    update HEALTHY
    <set>
      <if test="demp != null">
        DEMP = #{demp,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm.entity.Healthy">
    update HEALTHY
    set DEMP = #{demp,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>